### 자료형
- 리스트
- 튜플
- 딕셔너리

### 리스트
- 순서가 있는 데이터의 집합

In [1]:
ls = [1,"python",False]
print(type(ls),ls)

<class 'list'> [1, 'python', False]

In [10]:
# 리스트 데이터를 문자열로 합쳐주는 함수: '구분자'.join(변수명)
a = ['data','science','python']
result = " ".join(a)

In [11]:
print(result,type(result))

data science python <class 'str'>

### quiz1
- 리스트 데이터를 문자열로 합쳐서 문장으로 만들어 주세요. 
- 가장 앞글자는 대문자, 마지막에는 마침표를 찍어 주세요.
'''
ls = ["python","is","best","programing","language"]
'''

In [25]:
ls = ["python","is","best","programming","language"]
ls1 = " ".join(ls)
ls0 = ls1[0].upper()
ls1 = ls0 + ls1[1:] + "."
print(ls1)

Python is best programming language.

In [26]:
result = " ".join(ls)
result = result[0].upper() + result[1: ] +"."
print(result)

Python is best programming language.

### 리스트의 오프셋
- 문자열은 하나의 문자를 오프셋 단위로 인식
- 리스트는 하나의 값을 오프셋 단위로 인식

In [27]:
a = ["python","data",1,True,"fast"]
print(a[1])

data

In [28]:
print(a[2:])

[1, True, 'fast']

In [29]:
print(a[-2:])
print(a[-2:][0])

[True, 'fast']
True

### quiz2
- 홀수 데이터를 거꾸로 출력하시오
ls = [0,1,2,3,4,5,6,7,8,9]

In [33]:
ls = [0,1,2,3,4,5,6,7,8,9]
ls = ls[1::2][::-1]
print(ls)

[9, 7, 5, 3, 1]

In [123]:
# 리스트 데이터를 문자열 데이터로 바꿔주는 함수 : join
# 문자열 데이터를 리스트 데이터로 바꿔주는 함수 : split
text ="python data science"
text = text.split(" ")
print(text)

['python', 'data', 'science']

### 리스트 함수
- append: 데이터 추가
- sort: 데이터 정렬
- reverse: 데이터를 역순으로 정렬

In [36]:
ls = ['data','science']
ls.append('fastcampus')
print(ls)

['data', 'science', 'fastcampus']

In [37]:
ls = ["fast","data","campus","science"]
ls.sort() #알파벳 순으로 오름차순
print(ls)

['campus', 'data', 'fast', 'science']

In [38]:
ls.reverse()
print(ls)

['science', 'fast', 'data', 'campus']

In [39]:
ls[1]='slow'

In [40]:
ls

['science', 'slow', 'data', 'campus']

### quiz3
- "Beatiful is better than ugly." 단어의 길이가 긴 순서대로 재 정렬해서 문장을 다시 만드는 코드
- <list변수>.sort(key=len)
- 결과: Beatiful, better, ugly, than, is

In [54]:
data = "Beatiful is better than ugly."
data = data.split(" ")
data.sort(key=len)
data=data[::-1]
print(data)

['Beatiful', 'better', 'ugly.', 'than', 'is']

In [52]:
" ".join(data)+'.'

'Beatiful better ugly than is.'

In [56]:
data0 = "Beatiful is better than ugly."
result = data.lower[:-1] # 소문자로 변환하고 마침표 제고
result = result.split(' ') # 리스트로 변환
result = result.sort(key=len) # 오름차순으로 정렬
result = result.reverse() # 순서를 역순으로 변경하면 내림차순으로 정렬
result = " ".join(result)# 리스트를 문자열로 변환
result = result[0].upper() + result[1:] + "."# 가장 앞글자를 대문자로 변경하고 마침표를 추가.
print(result)

AttributeError: 'list' object has no attribute 'lower'

In [119]:
d = "Beatiful is better than ugly."
result = d[:-1].lower() # 소문자로 변환후 마침표를 제거
result = result.split(' ') # 리스트로 변환
result.sort(key=len) #오름차순으로 정렬
result.reverse() # 내림차순으로 정렬
result = ' '.join(result) # 리스트를 문자열로 반환
result = result[0].upper() + result[1:]+"."
print(result)

Beatiful better ugly than is.

### 튜플
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 리스트보다 저장 공간을 적게 사용하는 특징이 있다

In [58]:
#튜플 선언
tp =(1,2,3)
print(type(tp),tp)

<class 'tuple'> (1, 2, 3)

In [60]:
tp[1] = 10

TypeError: 'tuple' object does not support item assignment

In [61]:
# 튜플에서의 오프셋 인덱스 사용
tp[::-1]

(3, 2, 1)

In [64]:
import sys
ls = [1,2,3,4,5]
tp = (1,2,3,4,5)
print(sys.getsizeof(ls),"byte")
print(sys.getsizeof(tp),"byte")

104 byte
88 byte

### 딕셔너리
- 순서가 없는 데이터 집합
- 키,값으로 구성되어 있는 데이터 타입

In [66]:
# 선언
dic ={1:"one","A":["data","science"],"숫자":1234}
print(type(dic),dic)

<class 'dict'> {1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [68]:
# 데이터에 접근
dic["A"],dic[1]

(['data', 'science'], 'one')

In [69]:
# 데이터 수정
dic[1]="하나"

In [70]:
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

### quiz1
- 아래의 테이블 데이터를 딕셔너리 데이터 타입으로 선언 하세요. 
key: name, addr, age
value: python, seoul, 25

In [71]:
quiz_dic={"name":"python","addr":"seoul","age":25}

In [72]:
quiz_dic

{'name': 'python', 'addr': 'seoul', 'age': 25}

In [73]:
# 딕셔너리에서 키값으로 사용할 수 있는 데이터 타입은 문자열과 정수/실수 데이터 타입만 사용 가능하다.

In [77]:
# 딕셔너리에서는 오프셋 인덱스 사용불가
dic = {'data1':1,'data2':2,'data3':3}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [79]:
dic[1]

KeyError: 1

### 딕셔너리 함수
 - keys(): 키 데이터만 가져오는 함수
 - values(): 값 데이터만 가져오는 함수
 - items(): 키와 값을 가져오는 함수
 - update(): 두개의 딕셔너리를 합쳐주는 함수

In [81]:
dic = {
    "data1":1,
    "data2":2,
    "data3":3
}

In [83]:
result = dic.keys()
print(type(result),result)

<class 'dict_keys'> dict_keys(['data1', 'data2', 'data3'])

In [85]:
# values
result = dic.values()
result

dict_values([1, 2, 3])

In [86]:
# items
result = dic.items()
result

dict_items([('data1', 1), ('data2', 2), ('data3', 3)])

In [95]:
# update
dic1 = {1:"a", 2:"b"}
dic2 = {2:"c", 3:"d"}
dic1.update(dic2)
dic3 = dic1

In [96]:
print(dic3)

{1: 'a', 2: 'c', 3: 'd'}

### quiz2
- 국어 점수는 80점, 영어 90점, 수학 70점
- 이 데이터를 리스트, 튜플, 딕셔너리 데이터 타입으로 나타내시오

In [101]:
list = ['국어:80','영어:90','수학:70']
tuple = ('국어:80','영어:90','수학:70')
dict = {'국어':80,'영어':90,'수학':70}

In [102]:
print(list)
print(tuple)
print(dict)

['국어:80', '영어:90', '수학:70']
('국어:80', '영어:90', '수학:70')
{'국어': 80, '영어': 90, '수학': 70}

In [103]:
subject= ['국어','영어','수학']
points = [80,90,70]

data_list = [("국어",80),("영어",90),("수학",70)]

In [104]:
data_tuple = (("국어",80),("영어",90),("수학",70))