## <font color='blue'> Jupyter Notebook </font>

- 명령모드(esc): "셀" 수정, 파란색
- 편집모드(enter): "셀 내용" 수정, 녹색
    -  code
    -  markdown
 
- shift + enter: 실행 
 
- 명령어 

- (명령모드, esc) : a 위에 셀이 생성
- (명령모드, esc) : b 아래에 셀이 생성

- esc + m : 마크다운
- esc + y : 코드
- esc + l : 코드에 라인이 보임.

## 자료형  (DataType)

- 변수를 선언할 때 메모리에 저장공간이 만들어 지는데, 저장공간에 저장하는 데이터의 자료 타입을 설정 
- 동적타이핑: 변수를 선언할 때 변수저장되는 값에 따라서 자동으로 자료형이 설정되는 기능. 
- 자료형 확인하는 내장 함수: type()

### 자료형
- number 
    - int 
    - float
- Boolean: True, False
- String: 문자열, "", ''
- List: 순서가 있는 데이터 집합, []
- Tuple: 순서가 있는 데이터 집합, (데이터 수정 불가), ()
- Dictonary: Key(키)-Value(값), {'key':'value'}
- set: Key만, { }

(*collections모듈에 기타.. 다양한 자료구조 있음..)

## 변수

- 변수이름 =(할당연산자) 데이터 값

In [6]:
a = 3

In [7]:
type(a)

int

In [8]:
b = 3.

In [9]:
type(b)

float

In [10]:
c = a/b

In [11]:
c

1.0

In [12]:
a + b

6.0

In [13]:
a * b

9.0

In [15]:
a ** b

27.0

In [16]:
a - b

0.0

In [17]:
a / b

1.0

In [20]:
# 나머지 연산자
a % b

0.0

In [21]:
# 몫 연산자
a // b

1.0

In [25]:
myword = "hello python"
name = 'program'

In [28]:
myword + name

'hello pythonprogram'

In [29]:
myword * 2

'hello pythonhello python'

## String(문자열)
- '', ""
- 연산자: +, *
- join()
- split()
- len()

- 슬라이스 (리스트)
 - [number]: 특정 위치의 데이터를 선택하는 방법
     - 시작: 0, 
     - 끝: -1
 - [start:end]: 특정 구간의 데이터를 선택하는 방법
      - 시작의 숫자만 포함, 끝의 숫자는 포함하지 않음. 
 - [start:end:stride]: 특정 구간을 선택하되 구간 점프를 하며 선택 
      - [::-1]: 역순으로 선택

In [31]:
len(myword)

12

In [32]:
myword

'hello python'

In [46]:
myword[::-1]

'nohtyp olleh'

In [ ]:
0, 1, 2, 3, 4,
-5,-4,-3,-2,-1

### <font color='red'> Q1. 0 ~ 9까지의 문자열 데이터를 짝수만 거꾸로 출력하는 코드를 작성하세요. </font>

In [49]:
data ="0123456789"
result = data[::2]
result = result[::-1]
result

'86420'

## String(문자열) - 이어서..

- 대문자로 변환하는 함수: .upper()
- 소문자로 변환하는 함수: .lower()
- 문자열 치환: .replace("바꿀 문자열", "바뀔문자열")
- 앞뒤 공백 제거 함수: .strip()
- 특정 문자열의 위치 찾아주는 함수: .find("찾을 문자열")

In [79]:
word = '   data science   '
len(word)

18

In [81]:
len(word.strip())

12

In [65]:
word = word.upper()

In [66]:
word

'DATA SCIENCE'

In [67]:
word.lower()

'data science'

In [69]:
word

'DATA SCIENCE'

In [76]:
word = word.replace('SCIENCE','analysis')
word

'DATA analysis'

In [75]:
word.find('a')

5

### <font color='red'> Q2. 'i love you'를 'I love you'로 변환한 후 변수에 저장.

In [82]:
text = 'i love you'

In [86]:
text = text[0].upper() + text[1:]
text

'I love you'

## 리스트 함수
- append()
- extend()
- pop()
- remove()
- insert()
- len() (내장함수.)
- del() (내장함수.)

In [87]:
mylist = ['red', 'blue', 'orange']

In [88]:
type(mylist)

list

In [93]:
mylist[0]

'red'

In [94]:
mylist + mylist

['red', 'blue', 'orange', 'red', 'blue', 'orange']

In [99]:
mylist * 3

['red', 'blue', 'orange', 'red', 'blue', 'orange', 'red', 'blue', 'orange']

In [100]:
mylist

['red', 'blue', 'orange']

In [106]:
mylist.append('black')

In [107]:
mylist

['red', 'blue', 'orange', 'black', 'black', 'black', 'black']

In [110]:
mylist.extend(['white'])
mylist

['red',
 'blue',
 'orange',
 'black',
 'black',
 'black',
 'black',
 'w',
 'h',
 'i',
 't',
 'e',
 'w',
 'h',
 'i',
 't',
 'e',
 'white']

In [112]:
mylist.append(['red'])

In [113]:
mylist

['red',
 'blue',
 'orange',
 'black',
 'black',
 'black',
 'black',
 'w',
 'h',
 'i',
 't',
 'e',
 'w',
 'h',
 'i',
 't',
 'e',
 'white',
 ['red']]

In [120]:
mylist =  ['red', 'blue', 'orange']

In [115]:
mylist

['red', 'blue', 'orange']

In [116]:
mylist.pop()

'orange'

In [118]:
mylist.pop(0)

'red'

In [122]:
mylist

['red', 'blue', 'orange']

In [123]:
mylist.remove('red')

In [125]:
mylist.remove('orange')

In [127]:
mylist.append('orange')

In [129]:
mylist

['blue', 'orange']

In [130]:
mylist.insert(1, 'black')

In [131]:
mylist

['blue', 'black', 'orange']

## Tuple 
- ()
- 불변이다: 한번 선언하면 값을 바꿀 수 없다. 
a, b = 1, 2

In [149]:
a = 1, 2
a

(1, 2)

In [148]:
type(a)

tuple

In [150]:
a = 'program language'

- 문자열.split(구분자), 출력: 리스트. 
- 문자열.join(리스트), 출력: 스트링.

In [152]:
b = a.split()

In [155]:
" ".join(b)

'program language'

## 딕셔너리 

- {'key':'value'}
- 딕셔너리는 키/값 쌍으로 저장합니다. (연관배열, 해시, 맵, 해시테이블)
- 딕셔너리 모델에 부합하는 자료는 표형태의 데이터 ('열'- '키'), ('행' - '값')
- 대괄호 연산자 기능을 지원한다. 

- .keys()
- .values()
- .items()

In [251]:
mydict = {'name': 'Jhon', 'job':'engineer', 'age':30}
mydict

{'name': 'Jhon', 'job': 'engineer', 'age': 30}

{'name': 'Jhon', 'job': 'engineer', 'age': 30, 'hometown': None}

In [258]:
mydict.keys()

dict_keys(['name', 'job', 'age', 'hometown'])

In [197]:
a = tuple(mydict.keys())

['name', 'job', 'age', 'hometown']

In [259]:
mydict.values()

dict_values(['Jhon', 'engineer', 30, None])

In [260]:
mydict.items()

dict_items([('name', 'Jhon'), ('job', 'engineer'), ('age', 30), ('hometown', None)])

In [167]:
mydict

{'name': 'yuna', 'job': 'engineer', 'age': 30}

In [168]:
mydict['hometown'] = 'seoul'

In [169]:
mydict

{'name': 'yuna', 'job': 'engineer', 'age': 30, 'hometown': 'seoul'}

### 형변환 함수

- type()
- int()
- float()
- str()
- list()
- dict()
- set()

In [264]:
word = 'hi'

In [265]:
type(word)

str

In [266]:
word = float(word) 
word

ValueError: could not convert string to float: 'hi'

In [188]:
type(word)

float

- print()
- input()
- sorted()
    - 리스트.sort()
- min()
- max()
- sum()
- range()
    - range(시작, 종료, step)
- zip()
- enumerate()

In [272]:
mylist = [1,2,3,4,5]

['abcd']

In [ ]:
myname = int(input("숫자를 입력하세요:. "))

In [ ]:
type(myname)

In [3]:
a = ('science', 'math', 'english')
b = [30, 40, 33, 80]

In [6]:
sum(b)

183

In [12]:
a = list(range(30,100,10))
a

[30, 40, 50, 60, 70, 80, 90]

In [244]:
c = dict(zip(a,b))

In [2]:
K = [1,2,3,3,3,4]
sorted(K)

[1, 2, 3, 3, 3, 4]

In [249]:
for i in enumerate(b):
    print(i)

(0, 30)
(1, 40)
(2, 33)
(3, 80)

In [17]:
a = ('science', 'math', 'english', 'korean')
b = [30, 40, 33, 100]

In [25]:
mygrade = dict(zip(a,b))

In [26]:
mygrade

{'science': 30, 'math': 40, 'english': 33, 'korean': 100}

In [27]:
b = [30, 40, 33, 100]
b[1]

40

In [29]:
a = list(enumerate(b))
a

[(0, 30), (1, 40), (2, 33), (3, 100)]